JWT_SECRET=sua_chave_secreta_super_segura

# Crie o arquivo .env.local na raiz do projeto
# JWT_SECRET=sua_chave_secreta_super_segura > .env.local

# Crie o arquivo .env no diretório backend
# JWT_SECRET=sua_chave_secreta_super_segura > backend/.env